<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Système de Gestion de Banque de Sang</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>DonneurServlet</servlet-name>
        <servlet-class>banquesang.servlet.DonneurServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DonneurServlet</servlet-name>
        <url-pattern>/createDonneur</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListeDonneurServlet</servlet-name>
        <servlet-class>banquesang.servlet.ListeDonneurServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListeDonneurServlet</servlet-name>
        <url-pattern>/listDonneurs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditDonneurServlet</servlet-name>
        <servlet-class>banquesang.servlet.EditDonneurServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditDonneurServlet</servlet-name>
        <url-pattern>/editDonneur</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteDonneurServlet</servlet-name>
        <servlet-class>banquesang.servlet.DeleteDonneurServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteDonneurServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateReceveurServlet</servlet-name>
        <servlet-class>banquesang.servlet.CreateReceveurServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateReceveurServlet</servlet-name>
        <url-pattern>/createReceveur</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListReceveurServlet</servlet-name>
        <servlet-class>banquesang.servlet.ListReceveurServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListReceveurServlet</servlet-name>
        <url-pattern>/listReceveurs</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DeleteReceveurServlet</servlet-name>
        <servlet-class>banquesang.servlet.DeleteReceveurServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteReceveurServlet</servlet-name>
        <url-pattern>/deleteReceveur</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditReceveurServlet</servlet-name>
        <servlet-class>banquesang.servlet.EditReceveurServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditReceveurServlet</servlet-name>
        <url-pattern>/editReceveur</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DonationServlet</servlet-name>
        <servlet-class>banquesang.servlet.DonationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DonationServlet</servlet-name>
        <url-pattern>/DonationServlet</url-pattern>
    </servlet-mapping>


</web-app>
